body {
    margin: 0px;
    padding: 0px;
}#wrapper {
     margin: 0px;
     padding: 0px;
 }

div.headerDiv {
    /*position: fixed;*/
    left: 0;
    right: 0;
    top: 0px;
    border-bottom: solid black 3px;
    padding: 5px;
    /*height: 40px;*/
    background-color: beige;
    z-index: 999999;
}

.clearfix{
    overflow: auto;
}

div.navigationDiv {
    float: left;
}

div.authenticationDiv {
    float: right;
}

div.contentDiv {
    position: relative;
}

.horizontalCenter {
    margin: auto;
    width: 95%;
}

.formLabel{
    float: left;
}

.formField{
    float: right;
    font-size: 30px;
}

.formRow{
    font-size: 30px;
}

.registrationForm{
    width: 600px;
}